.bottom {
  border-top: 0.025rem $c-date solid;

  &__grid {
    display: flex;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: $c-nav;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__square {
    display: flex;
    position: relative;
    flex-basis: 25%;
  }

  &__writing {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0.5rem;
    color: $c-white;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: $c-nav;
    color: $c-date;
  }

  &__name {
    padding: 1rem;
  }

}

.bottom__footer--copyright {
  display: flex;
  align-items: center;
}

.bottom__footer--nav {
  display: flex;
  align-items: center;
}
