.bottom {
  border-top: 0.025rem $c-date solid;
}

.bottom__grid {
  display: inline-block;
  max-width: 100vh;
}

.bottom__header {
  color: $c-nav;
  font-size: 3rem;
}

.bottom__square {
  display: flex;
  position: relative;
}

.bottom__pic {
  position: relative;
  flex-basis: calc(100% / 4);
  flex-grow: 1;
  max-width: 20rem;
  max-height: 20rem;
}

.bottom__writing {
  position: absolute;
  color: $c-nav;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0;
  bottom: 0;
}


.bottom__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: $c-nav;
  color: $c-date;
}

.bottom__footer--copyright {

}
