.section {
  padding: 2rem 1rem;
}

.container {
  max-width: 60rem;
  margin: auto;
}

.grid {
  display: flex;
  margin: -1rem;

  &__right {
    margin: 1rem;
  }

  &__left {
    flex-grow: 1;
    margin: 1rem;
  }
}


.headline__title {
  color: $c-nav;
  font-size: 3rem;
  text-transform: uppercase;
}

.headline__pic {
  max-width: 1rem;
  border-radius: 50%;
}

.headline__name {
  color: $c-link;
}

.headline__on {
  color: $c-date;
}

.headline__date {
  color: $c-date;
  text-decoration: underline;
}

.lorem__indent {
  padding: 1rem;
}

.lorem__pipe {
  font-size: 20px;
}

.lorem__quote {
  color: $c-nav;
  text-transform: uppercase;
}

.lorem__links {
  display: flex;
  text-align: center;
}

.lorem__links--comments {
  margin: 0.5rem;
  background: $c-date;
  color: $c-white;
}

.lorem__links--later {
  margin: 0.5rem;
  background: $c-date;
  color: $c-white;
}

.lorem__links--share {
  margin: 0.5rem;
  background: $c-nav;
  color: $c-white;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__pic {
    max-width: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
  }

  &__name {
    color: $c-nav;
  }

  &__links {
    margin: 1rem;
    color: $c-date;
  }
}


.ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__pic {
    min-width: 15rem;
    max-height: 20rem;
  }

  &__link {
    align-items: flex-end;
    color: $c-date;
    text-align: right;
    text-decoration: underline;
  }
}



.sidebar__heading {
  color: $c-nav;
  text-align: center;
  text-transform: uppercase;
}

.sidebar__lorem {
  color: $c-date;
}
