// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
$c-banner: #2fa7b8;
$c-nav: #103d88;
$c-white: #fff;
$c-link: #1c6da1;
$c-date: #95a8ab;

@import 'box-sizing';
@import 'reset';

.hero {
  padding: 2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-pic {
  background: $c-banner;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-pic {
  max-width: 3rem;
}

.name {
  justify-content: center;
  padding: 1rem;
}

.nav__left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-nav;
}

.nav__right {
  justify-content: center;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;

}

.list-item {
  display: flex;
  margin: 1rem;
  background: $c-white;
  color: $c-nav;
  text-decoration: none;
}

.title {
  min-height: 40vh;
  padding: 4rem;
  text-align: center;
}

.title__top {
  color: $c-white;
  font-size: 4rem;
  text-transform: (50%);
}

.title__bottom {
  color: $c-nav;
}

.container {
  padding: 2rem;
}

.grid {
  display: flex;
}

.grid__left {
  flex-grow: 1.5;
  padding: 1rem;
  border: 0.5rem $c-banner solid;
}

.headline__title {
  color: $c-nav;
  font-size: 40px;
  text-transform: uppercase;
}

.headline__name {
  color: $c-link;
}

.headline__on {
  color: $c-date;
}

.headline__date {
  color: $c-date;
  text-decoration: underline;
}


.lorem__indent {
  padding: 1rem;
}

.lorem__pipe {
  font-size: 20px;
}

.lorem__quote {
  color: $c-nav;
  text-transform: uppercase;
}

.lorem__links--comments {
  background: $c-date;
}

.lorem__links--later {
  background: $c-date;
}

.lorem__links--share {
  background: $c-nav;
}

.grid__right {
  flex-grow: 1;
  padding: 1rem;
  border: 0.5rem $c-banner solid;
}

.social {
  align-items: center;
}

.social__name {
  color: $c-nav;
}

.social__links {
  color: $c-date;
}

.ad__link {
  color: $c-date;
  text-decoration: underline;
}

.sidebar__heading {
  color: $c-nav;
  text-transform: uppercase;
}

.sidebar__lorem {
  color: $c-date;
}
